.nav {
    padding-right: 3rem;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 4rem;
}

.link {
    color: var(--cor-padrao);
    text-decoration: none;
}

.link:hover {
    color: var(--cor-principal);
}